:root {
    --dark-color: #1d1712;
    --light-color: #d8cab6;
}

* {
    color: var(--dark-color);
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./wood.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

main {
    background-image: url("./paper.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    max-width: 80vw;
    padding: 1.5rem 0.5rem;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 2.75rem;
}

h2 {
}

h3 {
}

section {
    border: 1.5px solid black;
    padding: 0.5rem;
}

ul {
    padding-left: 2rem;
}

button {
    background-color: var(--dark-color);
    border: none;
    color: var(--light-color);
    padding: 1rem 2.5rem;
}

nav {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

nav > a {
    color: var(--light-color);
    text-decoration: none;
}

p,
ul {
    margin-bottom: 0.5rem;
}

blockquote {
    font-style: italic;
}

.img {
    filter: grayscale(100%);
    max-width: 275px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.quote {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
